---
// Component Script (JavaScript)
---

<footer>
  <h3>KITT8-BIT</h3>
  <a href="#">INSTAGRAM</a>
  <a href="#">TWITTER</a>
  <a href="#">CONTACT US</a>
  <a href="#">PRIVACY POLICY</a>
  <p>&copy; 2026 Cat Adoption Website. All rights reserved.</p>
</footer>
