---
// Component Script (JavaScript)
---

<header>
  <h3>KITT8-BIT</h3>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/adopt">Our Cats</a></li>
    <li><a href="/about">Adoption Process</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <button>DONATE</button>
</header>
