---
import MenuItem from "./MenuItem.astro";
---

<style>
  header {
    border-bottom: 4px solid #e7e5e4;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(12px);
    padding: 20px;
  }
</style>

<header class="w-full flex items-start justify-between">
  <h3 class="font-bold text-logo text-xl!">KITT8-BIT</h3>
  <ul class="flex items start justify-between">
    <MenuItem MenuLabel="ADOPT" MenuLink="/" />
    <MenuItem MenuLabel="OUR CATS" MenuLink="/adopt" />
    <MenuItem MenuLabel="ADOPTION PROCESS" MenuLink="/about" />
    <MenuItem MenuLabel="CONTACT" MenuLink="/contact" />
  </ul>
  <button>DONATE</button>
</header>
