---
const { label, link } = Astro.props;
---

<li>
  <a 
    href={link} 
    class="font-body font-bold text-sm tracking-wide text-on-surface hover:text-primary transition-all pb-1 border-b-4 border-transparent hover:border-primary-container"
  >
    {label}
  </a>
</li>
